<div class="modal-container" [ngClass]="{hidden: isModalHidden}">
    <div class="modal">
        <div class="modal-header">
            <span class="subtitle">Agregar jugador</span> <i class="fas fa-times" (click)="hideModal()"></i>
        </div>
        <div class="modal-body f-colum">
            <form class="f-colum jc-center ai-center" [formGroup]="playerForm" novalidate>
                <div class="form-group">
                    <label class="label">Nombre:</label>
                    <input type="text" class="input" placeholder="Ejm: Juan" formControlName="name" [(ngModel)]="player.name">
                </div>
                <div class="form-group">
                    <label class="label">Apellido:</label>
                    <input type="text" class="input" placeholder="Ejm: Perez" formControlName="lastName" [(ngModel)]="player.lastName">
                </div>
                <div class="form-group">
                    <label class="label">CI:</label>
                    <input type="text" class="input" placeholder="Ejm: 88888888" formControlName="id" [(ngModel)]="player.id">
                </div>
            </form>
        </div>
        <div class="modal-body">
            <div class="label-option">Selecciona un equipo:</div>
            <ul class="modal-list f-row jc-evenly ai-center">
                <li class="item item-team" *ngFor="let team of this.championship.teams, index as i" (click)="changeSelectedItem(i)">{{team.name}} <i class="fas fa-check"></i></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]='playerForm.invalid' class="btn secondary-button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>