@import '../../../assets/color.scss';
.main-container {
    width: 100%;
    animation: appear 1s;
    background-color: $greyColor;
    background-image: url("../../../assets/images/fut2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: -webkit-fill-available;
    .hidden {
        display: none;
    }
    .hide-container {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 25%;
        background-color: $primaryColor;
        color: $backgroundColor;
        animation: appear 1s;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 16px 1px rgba(74, 74, 74, 1);
        -moz-box-shadow: 0px 0px 16px 1px rgba(74, 74, 74, 1);
        box-shadow: 0px 0px 16px 1px rgba(74, 74, 74, 1);
        overflow: auto;
        .subtitle {
            background-color: $secondaryColor;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: $primaryColor;
            padding: 2% 5%;
        }
        .players-container {
            padding: 0% 5%;
            .result-container {
                width: 100%;
                margin: 5% 0% 3% 0%;
                .result {
                    font-weight: bold;
                    font-size: 15pt;
                }
                .teams {
                    margin: 3% 0%;
                    font-size: 14pt;
                }
            }
            .info {
                width: 100%;
                align-items: flex-start;
                margin-bottom: 10%;
                .sub {
                    font-weight: bold;
                    font-size: 13pt;
                    margin: 2% 0%;
                    color: $secondaryColor;
                }
                .table-container {
                    width: 100%;
                    table {
                        width: 100%;
                        tr {
                            td {
                                text-align: left;
                                padding: 2% 0%;
                            }
                            .center {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .exit {
            position: absolute;
            top: 4%;
            right: 5%;
            color: $primaryColor;
            cursor: pointer;
        }
    }
    .add-btn {
        animation: appear 1s;
    }
    .principal-add-btn {
        position: absolute;
        bottom: 3%;
        right: 3%;
    }
    .principal-add-btn:hover {
        font-weight: bold;
        color: $primaryColor;
    }
    .f-btn {
        position: absolute;
        bottom: 15%;
        right: 3%;
    }
    .s-btn {
        position: absolute;
        bottom: 27%;
        right: 3%;
    }
    .t-btn {
        position: absolute;
        bottom: 39%;
        right: 3%;
    }
    .ft-btn {
        position: absolute;
        bottom: 51%;
        right: 3%;
    }
    .items-section {
        width: 80%;
        height: auto;
        .title {
            margin-top: 5%;
            color: $backgroundColor;
        }
        .items-container {
            width: 100%;
            height: auto;
            margin-top: 4%;
            margin-bottom: 2%;
            .container {
                width: 47%;
                height: 550px;
                border-radius: 10px;
                background-color: #ffffffaf;
            }
            .stadistics {
                background-color: $backgroundColor;
                overflow: auto;
                .subtitle {
                    width: 100%;
                    text-align: center;
                    margin-top: 2%;
                    font-weight: bold;
                    .fas {
                        color: $primaryColor;
                        margin-left: 2%;
                    }
                }
                hr {
                    margin-top: 2%;
                }
                .stadistics {
                    .first {
                        width: 100%;
                        height: auto;
                        img {
                            height: 140px;
                        }
                        span {
                            font-size: 16pt;
                        }
                    }
                    .first-bkg {
                        background-color: rgba(255, 207, 51, 0.7);
                        span {
                            margin-bottom: 5%;
                        }
                    }
                    .second-bkg {
                        background-color: rgba(178, 193, 192, 0.7);
                        span {
                            margin-bottom: 5%;
                        }
                    }
                    .third-bkg {
                        background-color: rgba(211, 152, 112, 0.7);
                        span {
                            margin-bottom: 5%;
                        }
                    }
                    .ax {
                        padding-top: 5%;
                        background-image: url("../../../assets/images/wall.svg");
                        color: $backgroundColor;
                        img {
                            background-color: #6a210891;
                            padding: 3%;
                        }
                        span {
                            color: $backgroundColor;
                            background-color: #6a210891;
                            padding: 1%;
                        }
                    }
                    span {
                        color: $textColor;
                    }
                    .position-container {
                        width: 100%;
                        height: auto;
                        .second {
                            width: 50%;
                        }
                        .third {
                            width: 50%;
                        }
                        img {
                            height: 100px;
                        }
                        span {
                            font-size: 13pt;
                        }
                    }
                    .player-sub {
                        width: 90%;
                        text-align: left;
                        margin-top: 5%;
                        padding-bottom: 3%;
                        padding-top: 2%;
                    }
                    .wall-sub {
                        width: 100%;
                        background-color: #D84F21;
                        span {
                            color: $backgroundColor;
                            margin-left: 5%;
                        }
                    }
                    .players-container {
                        width: 100%;
                        height: auto;
                        .player {
                            margin-top: 5%;
                            img {
                                height: 120px;
                            }
                            .name {
                                margin-top: 1%;
                            }
                        }
                    }
                    .axes {
                        padding-bottom: 7%;
                        background-image: url("../../../assets/images/wall.svg");
                        color: $backgroundColor;
                        img {
                            background-color: #6a210891;
                            padding: 2%;
                        }
                        span {
                            color: $backgroundColor;
                            background-color: #6a210891;
                            padding: 1%;
                        }
                    }
                }
            }
            .championship-list {
                overflow: auto;
                .championship-container {
                    width: 95%;
                    height: auto;
                    border-radius: 5px;
                    margin: 2% 0%;
                    padding-bottom: 3%;
                    background-color: $backgroundColor;
                    .name {
                        width: 100%;
                        height: auto;
                        background-color: $primaryColor;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        padding: 1% 0%;
                        justify-content: space-between;
                        span {
                            color: $backgroundColor;
                            margin-left: 2%;
                        }
                        .cont {
                            width: 200px;
                            margin-right: 2%;
                        }
                        .add-btn {
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 5%;
                            font-size: 14pt;
                            box-shadow: none;
                        }
                        [data-tip] {
                            position: relative;
                            font-size: 10pt;
                        }
                        [data-tip]:before {
                            content: '';
                            display: none;
                            border-left: 10px solid rgb(31, 31, 31);
                            border-bottom: 10px solid transparent;
                            border-top: 10px solid transparent;
                            position: absolute;
                            top: 35%;
                            left: -15%;
                            animation: appear 1s;
                        }
                        [data-tip]:after {
                            width: 200px;
                            display: none;
                            content: attr(data-tip);
                            position: absolute;
                            top: 20%;
                            right: 114%;
                            padding: 15px 5px;
                            background: rgb(31, 31, 31);
                            color: $backgroundColor;
                            z-index: 999;
                            height: auto;
                            border-radius: 10px;
                            white-space: pre-wrap;
                            word-wrap: normal;
                            animation: appear 1s;
                        }
                        [data-tip]:hover:before,
                        [data-tip]:hover:after {
                            display: block;
                        }
                    }
                    .teams-container {
                        width: 100%;
                        .team-container {
                            width: 50%;
                            .team-title {
                                align-self: center;
                                font-weight: bold;
                                margin: 7% 0% 2% 0%;
                                border-bottom: 1px solid $primaryColor;
                            }
                            .list {
                                width: 100%;
                                li {
                                    width: 85%;
                                    margin: 2% 1%;
                                    cursor: pointer;
                                    position: relative;
                                    border-bottom: 0.5px solid transparent;
                                    .far {
                                        color: $textColor;
                                        opacity: .2;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                                li:hover {
                                    border-bottom: 0.5px solid rgba(20, 128, 94, 0.5);
                                    .far {
                                        color: $primaryColor;
                                        opacity: 1;
                                    }
                                }
                            }
                            .line {
                                width: 95%;
                                border-right: 1px solid $primaryColor;
                            }
                        }
                        .matches {
                            .list {
                                width: 100%;
                                li {
                                    width: 95%;
                                }
                            }
                        }
                    }
                }
            }
            .container::-webkit-scrollbar {
                width: 10px;
                border-radius: 5px;
            }
            .container::-webkit-scrollbar-track {
                background-color: $greyColor;
            }
            .container::-webkit-scrollbar-thumb {
                background-color: $primaryColor;
                border-radius: 10px;
            }
            .container::-webkit-scrollbar-thumb:active {
                background-color: #b1b1b1;
            }
        }
    }
}