<div class="modal-container" [ngClass]="{hidden: isModalHidden}">
    <div class="modal">
        <div class="modal-header">
            <span class="subtitle">Agregar campeonato</span> <i class="fas fa-times" (click)="hideModal()"></i>
        </div>
        <div class="modal-body f-colum">
            <form class="f-colum jc-center ai-center" [formGroup]="champForm" novalidate>
                <div class="form-group">
                    <label class="label">Nombre:</label>
                    <input type="text" class="input" placeholder="Ejm: Copa libertadores" formControlName="name" [(ngModel)]="championship.name">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]='champForm.invalid' class="btn secondary-button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>