@import '../../../assets/modal.scss';
@import '../../../assets/button.scss';
@import '../../../assets/color.scss';
.modal-container {
    margin-left: 0%;
    position: fixed;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(2px);
    align-items: center;
    .modal {
        margin-top: 0%;
        margin-bottom: 0%;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        .modal-footer {
            padding: 2% 0%;
            .btn {
                width: 90%;
                box-shadow: none;
            }
        }
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (max-width:600px) {
    .modal-container {
        background-color: transparent;
        .modal {
            width: 100%;
            .modal-footer {
                .btn {
                    width: 90%;
                    padding: 5% 0%;
                }
            }
        }
    }
}