<div class="modal-container" [ngClass]="{hidden: isModalHidden}">
    <div class="modal">
        <div class="modal-header">
            <span class="subtitle">Agregar partido</span> <i class="fas fa-times" (click)="hideModal()"></i>
        </div>
        <div class="modal-body f-colum">
            <form class="f-colum jc-center ai-center">
                <div class="form-group">
                    <label class="label">Equipo 1:</label>
                    <select (change)="setTeam1($event)">
                        <option value="" disabled selected>Elige un equipo...</option>
                        <option value="" *ngFor="let team of this.championship.teams, index as i">{{team.name}}</option>
                    </select>
                    <div class="f-colum jc-evenly ai-center" style="width: 100%;" *ngIf="match.team1">
                        <div class="f-row jc-evenly ai-center" style="width: 100%;" *ngFor="let info of match.team1.players, index as i">
                            <label class="label">{{info.name}} </label> Gol:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="Goles" [(ngModel)]="information[i].goals"> Asist:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="Asistencia" [(ngModel)]="information[i].assists"> T.Amar:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="T.amarilla" [(ngModel)]="information[i].yellowCard"> T.Roja:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="T.Roja" [(ngModel)]="information[i].redCard">
                        </div>
                    </div>
                    <label class="label">Equipo 2:</label>
                    <select (change)="setTeam2($event)">
                        <option value="" disabled selected>Elige un equipo...</option>
                        <option value="" *ngFor="let team of this.championship.teams, index as i">{{team.name}}</option>
                    </select>
                    <div class="f-colum jc-evenly ai-center" style="width: 100%;" *ngIf="match.team2">
                        <div class="f-row jc-evenly ai-center" style="width: 100%;" *ngFor="let info of match.team2.players, index as i">
                            <label class="label">{{info.name}} </label> Gol:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="Goles" [(ngModel)]="information[i+10].goals"> Asist:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="Asistencia" [(ngModel)]="information[i+10].assists"> T.Amar:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="T.amarilla" [(ngModel)]="information[i+10].yellowCard"> T.Roja:
                            <input class="square" [ngModelOptions]="{standalone: true}" type="number" placeholder="T.Roja" [(ngModel)]="information[i+10].redCard">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" [disabled]='(match.team2.name === "")' class="btn secondary-button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>