@import './color.scss';
.btn {
    color: $backgroundColor;
    padding: 18px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16pt;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    .fas {
        margin-left: 5px;
        font-size: 13pt;
    }
}

.btn:hover {
    font-size: 16.2pt;
    border: none;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
}

.primary-button {
    background-color: $primaryColor;
}

.secondary-button {
    background-color: $secondaryColor;
    color: $textColor;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.add-btn {
    width: 70px;
    height: 70px;
    background-color: $secondaryColor;
    color: $primaryColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20pt;
    border: 1px solid $secondaryColor;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.add-btn:hover {
    font-weight: bold;
    color: $textColor;
}