@import './button.scss';
@import './color.scss';
.modal-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    background-color: rgba(206, 206, 206, 0.85);
    top: 0;
    animation: appear 1s;
    overflow: auto;
    backdrop-filter: blur(1.5px);
    .modal {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: normal;
        flex-direction: column;
        background-color: $backgroundColor;
        border-radius: 10px;
        overflow: auto;
        animation: fadeInDown 1s;
        margin-top: 5%;
        margin-bottom: 5%;
        .modal-header {
            padding: 3% 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $primaryColor;
            span {
                font-weight: bold;
                color: $backgroundColor;
            }
            .fas {
                color: $backgroundColor;
                cursor: pointer;
                outline: none;
            }
        }
        .modal-body {
            width: 100%;
            form {
                overflow: auto;
                width: 100%;
                .form-group {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 3%;
                    .label {
                        font-family: 'Open Sans', sans-serif;
                        color: $textColor;
                        font-size: 12.5pt;
                        line-height: 25px;
                        align-self: flex-start;
                        font-weight: bold;
                    }
                    input,
                    select {
                        width: 100%;
                        padding: 12px 15px;
                        margin: 8px 0;
                        display: inline-block;
                        border: 0.5px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        color: $textColor;
                        outline: none;
                    }
                    input:focus,
                    textarea:focus {
                        border: 0.5px solid $secondaryColor;
                        background-color: $backgroundColor;
                    }
                    .square {
                        width: 60px;
                    }
                }
            }
            .label-option {
                margin: 2% 0% 2% 5%;
                font-family: 'Open Sans', sans-serif;
                color: $textColor;
                font-size: 12.5pt;
                line-height: 25px;
                font-weight: bold;
            }
            .modal-list {
                width: 90%;
                margin-left: 5%;
                .item {
                    padding: 1% 2%;
                    cursor: pointer;
                    outline: none;
                    .fas {
                        color: $backgroundColor;
                        margin-left: 10%;
                    }
                }
                .selected {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $textColor;
                    border-radius: 5px;
                    color: $backgroundColor;
                }
            }
        }
        .modal-footer {
            display: flex;
            justify-content: space-evenly;
            -webkit-justify-content: space-around;
            padding: 5% 0%;
            .secondary-button {
                background-color: $secondaryColor;
                color: $primaryColor;
            }
            button:disabled {
                opacity: 0.5;
            }
            button:disabled:hover {
                font-size: 16pt;
            }
        }
    }
}

.show-min {
    margin-left: -5%;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translatey(-150px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@media screen and(max-width:600px) {
    .modal-container {
        align-items: flex-start;
        .modal {
            width: 95%;
            margin-top: 10%;
            .modal-body {
                width: 100%;
                .img {
                    height: auto;
                    img {
                        width: 95%;
                    }
                }
            }
            .modal-footer {
                .btn {
                    width: 45%;
                }
            }
        }
    }
}