<div class="main">
    <div class="container f-colum jc-center ai-center">
        <div class="title main-title ">La mejor liga de fútbol sala</div>
        <button class="btn secondary-button" [routerLink]="['championship','list']"> Ver campeonatos</button>
    </div>
</div>