@import '../../assets/button.scss';
.main {
    width: 100%;
    height: -webkit-fill-available;
    background-image: url("../../assets/images/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: appear .5s;
    .container {
        width: 100%;
        height: -webkit-fill-available;
        .main-title {
            color: $backgroundColor;
            margin-bottom: 5%;
            font-size: 40pt;
            font-weight: bold;
        }
        .btn {
            width: 20%;
        }
    }
    .container:hover {
        backdrop-filter: blur(1px);
    }
}